<h1>Contact the Moodies Creators</h1>

<div class ="textbox">

<h2>Lisa Kilgore</h2>
<h4 >Email: <p style="display:inline;">lisajkilgore@gmail.com</p></h4>
<h4 style="display:inline;">LinkedIn: </h4><b><a style="display:inline;" href ="https://www.linkedin.com/in/lisajkilgore/" target="_blank" style="text-decoration: none;">https://www.linkedin.com/in/lisajkilgore/</a></b>
<h4>Portfolio: <a href ="https://lisajkilgore.github.io/" target="_blank"  style="text-decoration: none;">https://lisajkilgore.github.io/</a></h4>
<h4>GitHub: <a href ="https://github.com/lisajkilgore" target="_blank" style="text-decoration: none;">https://github.com/lisajkilgore</a></h4>

<h2>Trever Kress</h2>
<h4 >Email: <p style="display:inline;">kress.trever@gmail.com</p></h4>
<h4 style="display:inline;">LinkedIn: </h4><b><a style="display:inline;" href ="https://www.linkedin.com/in/trever-kress-495364157/" target="_blank" style="text-decoration: none;">https://www.linkedin.com/in/trever-kress-495364157/</a></b>
<h4>Portfolio: <a href ="https://tkress22.github.io/" target="_blank"  style="text-decoration: none;">https://tkress22.github.io/</a></h4>
<h4>GitHub: <a href ="https://github.com/tkress22" target="_blank" style="text-decoration: none;">https://github.com/tkress22</a></h4>

<h2>Jon Perkins</h2>
<h4 >Email: <p style="display:inline;">jonperkins1150@gmail.com</p></h4>
<h4 style="display:inline;">LinkedIn: </h4><b><a style="display:inline;" href ="https://www.linkedin.com/in/924/" target="_blank" style="text-decoration: none;">https://www.linkedin.com/in/924/</a></b>
<h4>Portfolio: <a href ="https://jonperkins1150.github.io/" target="_blank"  style="text-decoration: none;">https://jonperkins1150.github.io/</a></h4>
<h4>GitHub: <a href ="https://github.com/jonperkins1150" target="_blank" style="text-decoration: none;">https://github.com/jonperkins1150</a></h4>
