<header>
<mat-toolbar>
    <nav class="nav">                    
      <div style="text-align:left">
          <ul id="nav-ul">          
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="./music">Music</a></li>
            <li><a routerLink="./playlist">Playlists</a></li>
            <li><a routerLink="./adminportal">Admin Portal</a></li>
          </ul>
        </div>
      </nav>
      <button mat-raised-button class="nav-btn"><a routerLink="/register"></a><b>Register</b></button>
      <button mat-raised-button class="nav-btn"><a routerLink="/login"></a><b>Login</b></button>
    </mat-toolbar>
  </header>
<body class="bg-img">
  <div>
    <h1>Welcome to MoodSync!</h1>
    <h2>Please login so you can start listening to your music.</h2>
    </div>
  </body>

