<mat-toolbar>
  <nav class="nav">                    
    <div style="text-align:left">
        <ul id="nav-ul">          
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/music">Music</a></li>
          <li><a routerLink="/playlist">Playlists</a></li>
          <li><a routerLink="/adminportal">Admin Portal</a></li>
        </ul>
      </div>
    </nav>
    <button mat-raised-button class="nav-btn-register"><a routerLink="/register"></a><b>Register</b></button>
    <button mat-raised-button class="nav-btn-login"><a routerLink="/login"></a><b>Login</b></button>
  </mat-toolbar>
