<h1>Genres</h1>
<hr>
<div>
<button mat-raised-button class="btn-create" routerLink="/genre/genre-create"><b>Create</b></button>
</div>
&nbsp;
<div> 
<mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
<ng-container matColumnDef="Details">
    <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
    <mat-cell *matCellDef="let genre" routerLink="/genre/Details/{{genre.GenreId}}"></mat-cell>
</ng-container>

<ng-container matColumnDef="GenreId">
    <mat-header-cell *matHeaderCellDef>Genre Id</mat-header-cell>
    <mat-cell *matCellDef="let genre">{{genre.GenreId}}</mat-cell>
</ng-container>

<ng-container matColumnDef="GenreName">
    <mat-header-cell *matHeaderCellDef>Genre Name</mat-header-cell>
    <mat-cell *matCellDef="let genre">{{genre.GenreName}}</mat-cell>
</ng-container>

<ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let genre">
            <button mat-raised-button class="btn-edit" style="position: absolute; right: 110px;" routerLink="/genre/genre-edit/{{genre.GenreId}}"><b>Edit</b></button>
            &nbsp;
            <button mat-raised-button class="btn-delete" style="position: absolute; right: 20px;" routerLink="/genre/genre-delete/{{genre.GenreId}}"><b>Delete</b></button>


    </mat-cell>
</ng-container>

</mat-table>
</div>
