<h1>About</h1>

<p>
  MoodSync is built using an ASP.NET Api backend that can be found at <a href= "https://moodsync.azurewebsites.net/" target="_blank" style="text-decoration: none;">https://moodsync.azurewebsites.net/</a> and an Angular front end that can be found at <a href="https://moodsync1150.herokuapp.com" target="_blank" style="text-decoration: none;">https://moodsync1150.herokuapp.com</a> This project was created and built by the development team of Lisa Kilgore, Trever Kress, and Jon Perkins at Eleven Fifty Academy in Fishers, Indiana. For more information on the developers, go to the Contacts page for their email, LinkedIn, GitHub, and portfolio links.
</p>

<p>
  MoodSync allows users to create and listen to playlists based on their mood, or they can listen to Moodies generated playlists that correspond to existing moods. Users may create, edit, and delete their own playlists. However, only the administrator is able to perform create, edit, and delete functions to the mood, genre, and song tables. An Admin Portal exists for the administrator to make these updates and can only be seen/accessed by the administrator.
</p>