<h1>Songs</h1>
<hr>
<div>
<button mat-raised-button class="btn-create" routerLink="/song/song-create"><b>Create</b></button>
</div>
&nbsp;
<div> 
<mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row> 

<ng-container matColumnDef="SongId">
    <mat-header-cell *matHeaderCellDef>Song</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.SongId}}</mat-cell>
</ng-container>

<ng-container matColumnDef="SongName">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.SongName}}</mat-cell>
</ng-container>

<ng-container matColumnDef="Album">
  <mat-header-cell *matHeaderCellDef>Album</mat-header-cell>
  <mat-cell *matCellDef="let song">{{song.Album}}</mat-cell>
</ng-container>

<ng-container matColumnDef="Artist">
  <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
  <mat-cell *matCellDef="let song">{{song.Artist}}</mat-cell>
</ng-container>

<ng-container matColumnDef="ChildFriendly">
    <mat-header-cell *matHeaderCellDef>Child Friendly</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.ChildFriendly}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let song">
            
    <button mat-raised-button class="btn-edit" style="position: absolute; right: 110px;"  routerLink="/song/song-edit/{{song.SongId}}"><b>Edit</b></button>
    <button mat-raised-button class="btn-delete" style="position: absolute; right: 20px;"  routerLink="/song/song-delete/{{song.SongId}}"><b>Delete</b></button>

    </mat-cell>
</ng-container>

</mat-table>
</div>