.header-fill{
    flex: 1 1 auto;
}
nav{
    align-items: left;
}

ul#nav-ul{
    list-style: none;
    align-items: left;
}

ul#nav-ul li{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    display: inline;
    padding: 20px; 
    align-items: left;
}

.nav-btn{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    margin-right: 0.5em;
    background-color: #ffbd99;
}