<mat-toolbar>
  <nav class="nav">                    
    <div>
        <ul id="nav-ul">          
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/music">Music</a></li>
          <li><a routerLink="/playlists">Playlists</a></li>
          <li><a routerLink="/adminportal">Admin Portal</a></li>
        </ul>
      </div>
    </nav>
    <button mat-raised-button class="nav-btn-register" routerLink="/registration">Register</button>
    <button mat-raised-button class="nav-btn-login" routerLink="/login">Login</button>
  </mat-toolbar>
