
    <h1>Welcome back, Moodies!</h1>
    <h2>How are you feeling today?</h2>
  
    <mat-grid-list cols="4" rowHeight="5em">
        
    <mat-grid-tile><img class="tile-image" width="75" alt="Happy Emoji" src="./assets/happyemoji.png" /></mat-grid-tile>
    <mat-grid-tile><img class="tile-image" width="75" alt="Sad Emoji" src="./assets/sademoji.png" /></mat-grid-tile>
    <mat-grid-tile><img class="tile-image" width="75" alt="Angry Emoji" src="./assets/angryemoji.png" /></mat-grid-tile>
    <mat-grid-tile><img class="tile-image" width="75" alt="Romantic Emoji" src="./assets/romanticemoji.png" /></mat-grid-tile>
      
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="12em">
        <mat-grid-tile><button mat-raised-button class="btn-existing" routerLink="/userplaylists"><b>Listen to Your Playlists</b></button></mat-grid-tile>       
        <mat-grid-tile><button mat-raised-button class="btn-create" routerLink="/userplaylists"><b>Create New Playlist</b></button></mat-grid-tile> 
        <mat-grid-tile><button mat-raised-button class="btn-moodies" routerLink="/moodiesplaylists"><b>Listen to Moodies Playlists</b></button></mat-grid-tile> 
    </mat-grid-list>
      

