<h1>Edit a Playlist</h1>
<hr>

<div *ngif="playlist">
<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="editPlaylistForm">
  <div>
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="PlaylistId" formControlName="PlaylistId" type="PlaylistId" required [value]="playlist.PlaylistId" />
      </mat-form-field>
    </div>
    <div hidden>
        <mat-form-field>
          <input matInput placeholder="UserId" formControlName="UserId" type="UserId" required [value]="playlist.UserId" />
        </mat-form-field>
      </div>
    
    <div>
      <mat-form-field>
        <input matInput placeholder="Playlist Name" formControlName="PlaylistName" type="PlaylistName" required/>
      </mat-form-field>
    </div>
  <div>
  <mat-form-field>
   <input matInput placeholder="Song List" formControlName="SongList" type="SongList" required/>
  </mat-form-field>
</div>
</div>
<button mat-raised-button class="btn-create" type="submit"><b>Create Playlist</b></button>
</form>
</div>

<div>
<button mat-raised-button class="btn-existing" routerLink="/playlist"><b>Back to Playlists</b></button>
</div>
