<h1>Create a Playlist</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="playlistForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Playlist Name" formControlName="PlaylistName" type="PlaylistName" required/>
      </mat-form-field>
    </div>
  <div>
  <mat-form-field>
   <input matInput placeholder="Song List" formControlName="SongList" type="SongList" required/>
  </mat-form-field>
</div>
</div>
<button mat-raised-button class="btn-create" type="submit"><b>Create Playlist</b></button>
</form>

<div>
<button mat-raised-button class="btn-existing" routerLink="/playlist"><b>Back to Playlists</b></button>
</div>