<h1>Create a Playlist</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="noteForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="PlaylistName" formControlName="PlaylistName" type="PlaylistName" required/>
      </mat-form-field>
    </div>
  <div>
  <mat-form-field>
   <input matInput placeholder="SongList" formControlName="SongList" type="SongList" required/>
  </mat-form-field>
</div>
</div>
<button mat-raised-button class="btn-create" type="submit"><b>Create Playlist</b></button>
</form>

<a mat-button routerLink="/playlist">Back to Playlists</a>