<h1>Edit a Genre</h1>
<hr>

<div *ngIf="genre">
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editGenreForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="GenreId" formControlName="GenreId" type="GenreId" required [value]="genre.GenreId" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Genre Name" formControlName="GenreName" type="GenreName" required/>
      </mat-form-field>
    </div>
</div>

<button mat-raised-button class="btn-create" type="submit"><b>Save</b></button>
</form>
</div>
<div>
<button mat-raised-button class="btn-existing" routerLink="/genre"><b>Back to Genres</b></button>
</div>
