<h1>Edit a Mood</h1>
<hr>

<div *ngIf="mood">
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editMoodForm">
  <div>
    <div >
      <mat-form-field>
        <input matInput placeholder="MoodId" formControlName="MoodId" type="MoodId" required [value]="playlist.PlaylistId" />
      </mat-form-field>
    </div>

    
    <div>
      <mat-form-field>
        <input matInput placeholder="Mood Name" formControlName="MoodName" type="MoodName" required/>
      </mat-form-field>
    </div>

</div>
<button mat-raised-button class="btn-create" type="submit"><b>Save</b></button>
</form>
</div>

<div>
<button mat-raised-button class="btn-existing" routerLink="/mood"><b>Back to Moods</b></button>
</div>
