/* You can add global styles to this file, and also import other style files */
ul#nav-ul li{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    display: inline;
    padding: 20px; 
    align-items: left;
}

.nav-btn-register{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    margin-right: 1em;
    color: white;  
    background-color: #003fff; 
    margin-left: 100em;
}

.nav-btn-login{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    margin-right: 1em;
    color: white;
    background-color:  #16d100;  
    margin-left: 2em;
}

.nav-btn-existing{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    margin-right: 1em;
    color: white;
    background-color: #003fff; 
    margin-left: 28em;
    
}

.nav-btn-create{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    margin-right: 1em;
    color: white;
    background-color: #16d100;  
    margin-left: 14em;
}

.nav-btn-moodies{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1em;
    margin-right: 1em;
    color: white;
    background-color:#7f00b8;
    margin-left: 14em;
}

h1{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 7em;
    color: 	#ff5000;
    text-align: center;
}

h2{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 5em;
    color: #127b8d;
    text-align: center;
    padding-top: -70px;
}
h3{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3em;
    color: #7f00b8;
    text-align: center;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5em; 
    color:#7f00b8
}

.bg-img{
    background-image: url("./assets/black-and-white-close-up-earphones.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img#filter{
    background-color: rgba(255, 255, 255, 0.20);
}

mat-grid-tile{
    margin-left: 20em;
    
}